

{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Registro {% endblock title %}

{% block content %}



<div class="header pb-6 d-flex align-items-center mb-5">
  <!-- Mask -->
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
       
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container mt--6">

<div class="col-md-12 d-flex justify-content-center">

  <div class=" card col-md-11">
 
    <div class=" ">
      <div class=" mx-auto">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-6">
              {% for computers_list in second_queryset %}
              <h3 class="mb-0">DETALLES EQUIPO {{computers_list.name}}  </h3>
            </div>
            <div class="col-6 text-right">
              <a href="{% url 'actives:update_computer' computers_list.id %}" class="btn btn-sm btn-light"> Editar</a>
            <a href="{% url 'actives:register_maintenance' %}" class="btn btn-sm btn-info"> <i class="ni ni-settings text-orange"></i> Agregar mantenimiento</a>
          </div>
        </div>
      </div>
        <div class="card-body">
            
            <div class="pl-lg-4">
              <h6 class="heading-small mb-4 ">Datos Generales</h6>

              <div class="row">

                  <div class="col-md-5">
                   <img src="https://http2.mlstatic.com/D_NQ_NP_954041-MLA46302470460_062021-V.jpg" > 
                   <img src="{{computers_list.manufacturer.product_image.url}}" alt="My image">
                  </div>
                  <div class="col-md-7 row">

                    <div class="col-md-6">
                      <label class="font-weight-bold">Placa Inventario</label>
                      <p>   <a href="#!" class="btn btn-sm btn-primary">PLACA {{computers_list.inventory_number}} </a></p>
                     </div>

         
   
                     <div class="col-md-6">
                      <label class="font-weight-bold"> Estado</label>
                      <p>  
                        {% if computers_list.state == 'Activo asignado'  %}
                        <a href="#!" class="btn btn-sm btn-success"> {{computers_list.state}} </a> 
                        {% elif computers_list.state == 'Activo disponible'  %}
                        <a href="#!" class="btn btn-sm btn-success"> {{computers_list.state}} </a>
                        {%elif computers_list.state == 'Mantenimiento' %}
                        <a href="#!" class="btn btn-sm btn-warning"> {{computers_list.state}} </a> 
                        {%elif computers_list.state == 'Dado de baja' %}
                        <a href="#!" class="btn btn-sm btn-danger"> {{computers_list.state}} </a> 
            
                        {% endif %}
                      </p>
                     </div>

                     <div class="col-md-6">
                      <label class="font-weight-bold"> Modelo</label>
                      <p>   {{computers_list.manufacturer}}</p>
                     
                     </div>

                     <div class="col-md-6">
                      <label class="font-weight-bold"> Número de serie</label>
                      <p>  {{computers_list.serial_number}}</p>
                     </div>

                     <div class="col-md-6">
                      <label class="font-weight-bold"> Número de producto</label>
                      <p>  {{computers_list.product_number}}</p>
                     </div>

                     <div class="col-md-6">
                      <label class="font-weight-bold"> Fecha de compra</label>
                      <p>  {{computers_list.date_purchase}}</p>
                     </div>

                 


            
                  </div>
  

           
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small mb-4">Detalles técnicos</h6>
            <div class="pl-lg-4">
              <div class="row">

                <div class="col-md-6">
                  <label class="font-weight-bold"> Procesador</label>
                  <p>  {{computers_list.processor|default_if_none:"Por definir" }}</p>
                 </div>

                 <div class="col-md-6">
                  <label class="font-weight-bold"> Memoria RAM</label>
                  <p>  {{computers_list.ram_memory|default_if_none:"Por definir" }}</p>
                 </div>

                 <div class="col-md-6">
                  <label class="font-weight-bold"> Disco duro</label>
                  <p>  {{computers_list.disk_memory|default_if_none:"Por definir" }}</p>
                 </div>

                 <div class="col-md-6">
                  <label class="font-weight-bold"> Tarjeta gráfica</label>
                  <p>  {{computers_list.graphics|default_if_none:"Por definir" }}</p>
                 </div>

                 <div class="col-md-6">
                  <label class="font-weight-bold"> Pantalla</label>
                  <p>  {{computers_list.monitor_screen|default_if_none:"Por definir" }}</p>
                 </div>


                 <div class="col-md-6">
                  <label class="font-weight-bold"> Sistema operativo</label>
                  <p>  {{computers_list.operative_system|default_if_none:"Por definir" }}</p>
                 </div>

                 <div class="col-md-12">
                  <label class="font-weight-bold"> Descripción</label>
                  <p>  {{computers_list.description|default_if_none:"Por definir" }}</p>
                 </div>

              </div>
           
            </div>

            {% endfor %}

             <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small mb-4">Mantenimientos</h6>
            <div class="col-md-12">
              <div class="table-responsive">
                {% comment %} <table id ="example1" class="table align-items-center table-flush dataTable"> {% endcomment %}
                  <table id="example1" class="table  table-hover dataTable">
    
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" class="sort" data-sort="name">Equipo</th>
                      <th scope="col" class="sort" data-sort="budget">Tipo</th>
                      <th scope="col" class="sort" data-sort="budget">Prioridad</th>
                      <th scope="col" class="sort" data-sort="status">Estado</th>
                      <th scope="col" class="sort" data-sort="status">Fecha inicio</th>
                      <th scope="col" class="sort" data-sort="status">Fecha fin</th>
                      <th scope="col" class="sort" data-sort="status">Acciones</th>
                 
                    </tr>
                  </thead>
                  <tbody class="list">
                    {% for maintenances in third_queryset %}

                    <tr>
                      <td scope="row"> {{maintenances}}</td>
                      <td scope="row"> {{maintenances.maintenance_type}}</td>
                      <td scope="row"> {{maintenances.priority}}</td>
                      <td scope="row"> <span class="badge badge-success"> {{maintenances.maintenance_state}} </span> </td>
                      <td scope="row"> {{maintenances.start_maintenance}}</td>
                      <td scope="row"> {{maintenances.end_maintenance}}</td>
                      <td class="">
                        <div class="dropdown">
                          <a class="btn btn-sm " href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v pr-1"></i> Acciones
                          </a>
                          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                            <a class="dropdown-item" href=" "><i class="ni ni-tag text-orange"></i> Editar</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                   
                    {% endfor %}
                    
           
                   
              
                  </tbody>
                </table>
              </div>

             </div>

             <hr class="my-4" />
             <!-- Description -->
             <h6 class="heading-small mb-4">Asignaciones</h6>
             <div class="col-md-12">
               <div class="table-responsive">
                 {% comment %} <table id ="example1" class="table align-items-center table-flush dataTable"> {% endcomment %}
                   <table id="example1" class="table  table-hover dataTable">
     
                   <thead class="thead-light">
                     <tr>
                       <th scope="col" class="sort" data-sort="name">Usuario</th>
                       <th scope="col" class="sort" data-sort="budget">CC</th>
                       <th scope="col" class="sort" data-sort="budget">Equipo</th>
                       <th scope="col" class="sort" data-sort="status">Estado</th>
                       <th scope="col" class="sort" data-sort="status">Encargado</th>
                       <th scope="col" class="sort" data-sort="status">Fecha asignación</th>
                       <th scope="col" class="sort" data-sort="status">Acciones</th>
                  
                     </tr>
                   </thead>
                   <tbody class="list">
                     {% for assign in assign_queryset %}
 
                     <tr>
                       <td scope="row"> {{assign.assignment}}</td>
                       <td scope="row"> {{assign.assignment.dni_user}}</td>
                       <td scope="row"> {{assign.computers}}</td>
                       <td scope="row"> <span class="badge badge-success"> {{assign.computers.state}} </span> </td>
                       <td scope="row"> {{assign.user}}</td>
                       <td scope="row"> {{assign.date_assignment}}</td>
                       <td class="">
                         <div class="dropdown">
                           <a class="btn btn-sm " href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             <i class="fas fa-ellipsis-v pr-1"></i> Acciones
                           </a>
                           <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                             <a class="dropdown-item" href=" "><i class="ni ni-tag text-orange"></i> Generar acta</a>
                           </div>
                         </div>
                       </td>
                     </tr>
                    
                     {% endfor %}
                     
            
                    
               
                   </tbody>
                 </table>
               </div>
 
              </div>

        </div>
      </div>
    </div>
  </div>

</div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
