
{% extends 'layouts/base.html' %}

{% block title %} Registro {% endblock title %}

{% block content %}

<div class="header pb-6 d-flex align-items-center mb-5">
  <!-- Mask -->
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
       
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container mt--6">

<div class="col-md-12 d-flex justify-content-center">

  <div class="col-md-11 card">

    <div class=" ">
      <div class=" mx-auto">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Registro de modelos </h3>
            </div>
            <div class="col-4 text-right">
              <a href="{% url 'actives:register_manufacturer' %}"  class="btn btn-sm btn-primary">Agregar nuevo fabricante</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form class="" method="POST"> {% csrf_token %}
            <h6 class="heading-small mb-4">Datos Generales</h6>
            <div class="pl-lg-4">
              <div class="row">

                <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-manufacturer">{{form.manufacturer.label}}</label>
                      {{form.manufacturer}}
                    </div>
                  </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-model">{{form.model.label}}</label>
                    {{form.model}}
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-type_model">{{form.type_model.label}}</label>
                    {{form.type_model}}
                  </div>
                </div>

                <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-product_image">{{form.product_image.label}}</label>
                      {{form.product_image}}
                    </div>
                  </div>

                
              </div>

   
            </div>
    
            <button class="btn btn-primary btn-block col-md-4 container rounded-pill" type="submit"><i class="fas fa-paper-plane pr-2"></i>Ingresar registro</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
