
{% extends 'layouts/base.html' %}

{% block title %} Registro {% endblock title %}

{% block content %}

<div class="header pb-6 d-flex align-items-center mb-5">
  <!-- Mask -->
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
       
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container mt--6">

<div class="col-md-9 container">

  <div class="row">

    <div class="order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-5">
              <h3 class="mb-0">Actualización de dispositivos </h3>
            </div>
            <div class="col-7 text-right">
              <a href="{% url 'actives:register_type' %}" class="btn btn-sm btn-primary">Agregar Tipo de dispositivo</a>
              <a href="{{request.META.HTTP_REFERER}}"class="btn btn-sm btn-light">Regresar</a>

            </div>
          </div>
        </div>
        <div class="card-body">
          <form class="" method="POST"> {% csrf_token %}
            <h6 class="heading-small text-muted mb-4">Datos Generales</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-name">{{form.name.label}}</label>
                    {{form.name}}
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-state">{{form.state.label}}</label>
                    {{form.state}}
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-manufacturer">{{form.manufacturer.label}}</label>
                    {{form.manufacturer}}
                  </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-type_devices">{{form.type_devices.label}}</label>
                      {{form.type_devices}}
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-location">{{form.location.label}}</label>
                      {{form.location}}
                    </div>
                  </div>
                
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-date_purchase">{{form.date_purchase.label}}</label>
                    {{form.date_purchase}}
                  </div>
                </div>
              </div>

              <div class="row">

       
                
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-serial_number">{{form.serial_number.label}}</label>
                    {{form.serial_number}}
                  </div>
                </div>

        

              

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-inventory_number">{{form.inventory_number.label}}</label>
                    {{form.inventory_number}}
                  </div>
                </div>
              </div>
            </div>


 
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">Observaciones</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label class="form-control-label">{{form.description.label}}</label>
                {{form.description}}
                </div>
            </div>

            <button class="btn btn-primary btn-block col-md-4 container rounded-pill" type="submit"><i class="fas fa-paper-plane pr-2"></i>Actualizar registro</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
