{% load static %}
<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>
    Invento - {% block title %} Admin Panel {% endblock %}
  </title>

  <!-- Favicon - loaded as static -->
  <link rel="icon" href="{% static '/assets/img/brand/favicon.png' %}" type="image/png">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="{% static '/assets/vendor/nucleo/css/nucleo.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static '/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" type="text/css">
  <!-- Page plugins -->
  <!-- Argon CSS -->
  <link rel="stylesheet" href="{% static '/assets/css/argon.css' %}" type="text/css">
  <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static '/assets/vendor/datatables-bs4/css/dataTables.bootstrap4.css' %}">

  <!-- Specific CSS goes HERE -->
  {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="">

  {% include "includes/sidenav.html" %}

  <div class="main-content" id="panel">

    {% include "includes/navigation.html" %}

    {% block content %}{% endblock content %}

  </div>

  {% include "includes/scripts.html" %}

  {% if messages %}
  {% for message in messages %}
    <script>
        swal.fire(
            {% if 'God Job' in message.extra_tags %}
                "Bien hecho", //God Job
                "{{message}}", //el Proyecto fue creado con éxito
                "success" // icon
                
            {% elif 'Error' in message.extra_tags %}
                "¡Error!",
                "{{message}}",
                "error"

            {% else %}
                {
                    text: "{{message}}",
                    icon: "{{message.tags}}",
                }
            {% endif %}
            )
    </script>
    {% endfor %}
    {% endif %}  {% block javascripts %}

    
  {% endblock javascripts %}

  <script src="{% static '/assets/js/argon.js' %}"></script>
  <script src="{% static '/assets/vendor/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static '/assets/vendor/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
  <script>
    $(function () {
      $("#example1").DataTable();
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": true,
      });
    });
    
    $('#example1').dataTable( {
      "order": [ 0, 'desc' ]
    } );
  
  </script>
  
</body>

</html>
