{% load static %}
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        <img src="{% static '/assets/img/brand/blue.png' %}" class="navbar-brand-img" alt="Argon Design - Jinja Template Logo.">
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="/">
              <i class="ni ni-compass-04 text-primary"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
          </li>

          
          <h6 class="navbar-heading pr-3 pb-0 text-muted">
            <span class="docs-normal">Activos</span>
          </h6>

          <li class="nav-item">
            <a class="nav-link {% if 'Equipos' in segment %} active {% endif %}" href="{% url 'actives:visualize' %}">
              <i class="ni ni-laptop text-primary"></i>
              <span class="nav-link-text">Equipos</span>
            </a>
          </li>


          <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="{% url 'actives:visualize_devices' %}">
              <i class="ni ni-headphones text-primary"></i>
              <span class="nav-link-text">Dispositivos</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="{% url 'actives:visualize_devices' %}">
              <i class="ni ni-tablet-button text-primary"></i>
              <span class="nav-link-text">Monitores</span>
            </a>
          </li>


          <li class="nav-item">
            <a class="nav-link {% if 'map' in segment %} active {% endif %}" href="{% url 'users:visualize_users' %}">
              <i class="ni ni-single-02 text-primary"></i>
              <span class="nav-link-text">Usuarios</span>
            </a>
          </li>


        </ul>

       <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        <h6 class="navbar-heading p-0 text-muted">
          <span class="docs-normal">Recursos</span>
        </h6>
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">

          <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="{% url 'actives:visualize_maintenance' %}">
              <i class="ni ni-settings text-primary"></i>
              <span class="nav-link-text">Mantenimientos</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if 'map' in segment %} active {% endif %}" href="">
              <i class="ni ni-bag-17 text-primary"></i>
              <span class="nav-link-text">Banco Inactivos</span>
            </a>
          </li>


          <li class="nav-item">
            <a href="/admin/" class="nav-link"  target="_blank">
              <i class="ni ni-settings-gear-65 text-primary"></i>
              <span class="nav-link-text">Administrador</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="/icons.html">
              <i class="ni ni-planet text-orange"></i>
              <span class="nav-link-text">Icons</span>
            </a>
          </li>

          
        </ul>


      </div>
    </div>
  </div>
</nav>