{% extends 'layouts/base.html' %}

{% block title %} Registro {% endblock title %}


{% block stylesheets %}

  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <style>
 #cke_id_description{
    width: auto !important;
  }
</style>
{% endblock stylesheets %}

{% block content %}

<div class="header pb-6 d-flex align-items-center mb-5">
  <!-- Mask -->
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
       
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container mt--6">

<div class="col-md-12 d-flex justify-content-center">

  <div class=" card col-md-10 row">

    <div class=" ">
      <div class=" mx-auto">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-10">
              <h3 class="mb-0">Actualización de elementos asignados </h3>
            </div>
            <div class="col-4 text-right">
              <a href="{{request.META.HTTP_REFERER}}"class="btn btn-sm btn-light">Regresar</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form class="" method="POST"  enctype="multipart/form-data"> {% csrf_token %}
            <h6 class="heading-small mb-4">Datos Generales</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-name">Usuario</label>
                    {{form.assignment}}
                  </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-name">{{form.user.label}}</label>
                      {{form.user}}
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-name">{{form.date_assignment.label}}</label>
                      {{form.date_assignment}}
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-name">{{form.computers.label}}</label>
                      {{form.computers}}
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-name">{{form.monitor.label}}</label>
                      {{form.monitor}}
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-name">{{form.passive_devices.label}}</label>
                      {{form.passive_devices}}
                      <div class="error_message" id="passive_devices_error"> {{ form.passive_devices.error}} </div>
                    </div>      
                    
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-name">{{form.description.label}}</label>
                        {{form.description}}
                        <div class="error_message" id="description_error"> {{ form.description.error}} </div>
                      </div>   
                      
                  </div>

              </div>

            
            </div>

            <button class="btn btn-primary btn-block col-md-5 container rounded-pill" type="submit"><i class="fas fa-paper-plane pr-2"></i>Asignar elemento</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
  function BuscarPorNombreModeloMultiple(id_input, url_django) {

    $(id_input).select2({
        placeholder: "Buscar y Seleccionar",
        //dropdownParent: $("#creacion"),
        //dropdownAutoWidth: false,
        //allowClear: true,
        //selectOnClose: false,
        multiple:true,
        width: '100%',
        //minimumInputLength: 2, //https://github.com/select2/select2/issues/2561

        ajax: {
            url: url_django,
            dataType:'json',
            type:"GET",
            processResults: function (data) {
                console.log("data ",data)
                return {
                    results: $.map(data, function (item, index) {
                        return {
                            text: item.name,
                            id: item.id
                        }
                    })
                };
            }
        }

    });

    //soluciòn al problema del placeholder en los select multiples
    $('.select2-search__field').css('width', '100%');

    //soluciòn al problema del scroll dentro de los modales
    $('select.select2:not(.normal)').each(function () {
        $(this).select2({
            dropdownParent: $(this).parent().parent()
        });
    });

  }

  {% comment %} 
  Activa el select2 y el endpoint 
  TODO: filtrar en el endpoint por dispositivos con estado: "Activo disponible"
  {% endcomment %}

  console.log("asd ","{% url "users:search_passive_devices" %}")
  BuscarPorNombreModeloMultiple('#passive_devices_crear_id', '{% url "users:search_passive_devices" %}');

</script>


{% endblock javascripts %}
